 <form [formGroup]="signinForm">
 <!--  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div> -->

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input formControlName="pseudo" type="text" [(ngModel)]="user.Pseudo" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input formControlName="password" type="password" [(ngModel)]="user.Psw" placeholder="Enter Password" name="password" required>
    <div id="buttons">
      <button type="submit" (click)="onSubmit()"  (keyup.enter)="onSubmit()">Login</button>
      <button type="submit" class="cancelbtn" (click)="onClose()">Cancel</button>
    </div>
  </div>
<!-- 
  <div class="container" style="background-color:#f1f1f1">
    <button type="submit" class="cancelbtn" (click)="onClose()">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
</form>
