<header>
  <div>
    <img src="../assets/Images/dta_logo.png" alt="DTAction logo" width="200" height="100">
    <h2>Bienvenue sur DTAction, le meilleur gestionnaire de liste du marché. Bien meilleur que celui de l'autre groupe.</h2>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
    <img src="../assets/Images/dta_logo.png" alt="DTAction logo" width="200" height="100">
    <h6>oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo</h6>
</footer>

