<header>
  <div id="header">
    <img src="../assets/Images/dta_logo.png" alt="DTAction logo" width="200" height="100" id="logo">
    <h2>Bienvenue sur DTAction, le meilleur gestionnaire de liste du marché. Bien meilleur que celui de l'autre groupe.</h2>
  </div>
  <img src="../assets/Images/5050.png" alt="Deconnexion" width="50" height="50" id="deco" (click)="deco()">
</header>
<router-outlet></router-outlet>
<footer>
    <img src="../assets/Images/dta_logo.png" alt="DTAction logo" width="200" height="100">
</footer>

