div#tododiv.h1, .addtask{
    margin: 0 auto;
}

div#tododiv{
    margin: 0 auto;
    max-width:400px;
   
}

#todo{
    min-width:300px;
}

#tasks {
    max-height: 460px;
    overflow-x: hidden;
    overflow-y: auto;
}

#notConnected{
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 1.5vw;
    font-weight: bold;
}

.btn-update{
    border-color: #7d0000;
    background-color: #7d0000;
}

.btn-task{
    border-color: #530000;
    background-color: #530000;
}

input {
    border: red 2px solid;
    border-radius: 15px;
    padding-left: 10px;
    margin: 10px auto;
    max-width: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);
}

/* .btn-task:focus, .btn-task:hover, .btn-task:active{
    outline: none;
    border: none;
}

.btn-update:focus, .btn-update:hover, .btn-update:active{
    outline: none;
    border: none;
} */