input {
    border: red 2px solid;
    border-radius: 15px;
    padding-left: 10px;
    margin: 10px auto;
    max-width: 300px;
}

input:focus {
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    padding: 0 0 0 7%;  
}

button.btn.btn-danger{
    max-width: 200px;
    margin: 0 auto;
    background-color: #990000;
    border-color: #990000;
    transition: 0.4s all;
}

button.btn.btn-danger:hover{
    background-color: red;
    border-color: red;
}