/* You can add global styles to this file, and also import other style files */
body
{
  position: relative;
}

header 
{
  align-items: flex-start;
  background: gray;
}

footer
{
  display: flex;
  background: grey;
  flex-wrap: wrap;
  /* align-content: flex-end; */
  position: fixed;
  bottom: 0;
}